    body {
      background-color: #000000;
    }
    
    .no {
       width: 25px;
       height:25px;
       background-color:rgba(0, 0, 0, 0.4);
       text-align:center;
       position:fixed;
       font-family: helvetica;
       color: #40F2E0
    }

    .wrapper {
      margin: 0 auto;
      margin-top: 20px;
    }

    #first{
      z-index: 1;
      text-align: center;

      font-family: futura;
      font-style: italic;
      color:#313131;
      font-size:45px;
      font-weight: bold;
      -webkit-animation:colorchange 20s infinite alternate;

    }

    #second{
      z-index: 2;
      margin-top: 40px;
      height: 390px;
    }

    #third{
      z-index: 3;
      text-align: center;

      font-family: courier;
      color:#fdaffa;
      font-size:16px;
    }

    #fourth{
      z-index: 4;
      text-align: center;
      margin-top: 10px;

      font-family: futura;
      font-size: 20px;
      color: #00ffff;
    }

    #image{
      height: 318px;
      width: 302px;
      margin-left: -151px;
      left: 50%;
      position: fixed;
    }

    @-webkit-keyframes colorchange {
      0% {

        color: blue;
      }

      10% {

        color: #8e44ad;
      }

      20% {

        color: #1abc9c;
      }

      30% {

        color: #d35400;
      }

      40% {

        color: blue;
      }

      50% {
        color: #34495e;
      }

      60% {

        color: blue;
      }

      70% {

        color: #2980b9;
      }
      80% {

        color: #f1c40f;
      }

      90% {

        color: #2980b9;
      }

      100% {

        color: pink;
      }
    }
